extends layout

block content
  .jumbotron
    .container
      h1.jumbo New Express Website
      p.jumbo Lorem It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
  .container
      // Example row of columns
      .row
        .col-md-4
          h2 About Us
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          a.btn.btn-secondary(href='#', role='button') View details »
        .col-md-4
          h2 Services
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          a.btn.btn-secondary(href='#', role='button') View details »
        .col-md-4
          h2 Get in Touch
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          a.btn.btn-secondary(href='#', role='button') View details »
      hr
